*{
    box-sizing: border-box;

    body{
        margin: 0;
        padding: 0;
        background-color: #040e42;
        color: white;
        
        header{
            .pergunta{
            border: 1px solid white;
            padding: 5px;
            margin-top: 10px;
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            height: auto;
            font-size: 1rem;
            text-align: center;
            border-radius: 5%;
            }
        }
        main{
            .opcoes{
                border: 1px solid white;
                padding: 5px;
                margin-top: 10px;
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
                height: auto;
                #opc-A{
                    cursor: pointer;
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    width: 100%;
                    background: none;
                    display: flex;
                    flex-flow: row wrap;
                    border: 1px solid white;
                    margin-top: 5px;
                    p{
                        margin: 5px;
                    }
                }
                #opc-B{
                    cursor: pointer;
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    border: 1px solid white;
                    margin-top: 5px;
                    background: red;
                    p{
                        margin: 5px;
                    }
                }
                #opc-C{
                    cursor: pointer;
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    width: 100%;
                    background: none;
                    display: flex;
                    flex-flow: row wrap;
                    border: 1px solid white;
                    margin-top: 5px;
                    background: green;
                    p{
                        margin: 5px;
                    }
                }
                #opc-D{
                    cursor: pointer;
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    border: 1px solid white;
                    margin-top: 5px;
                    background: none;
                    margin-bottom: 5px;
                    p{
                        margin: 5px;
                    }
                }
            }
        }
         footer{
            display: flex;
            flex-flow: row wrap;
            margin-top: 30px;
            justify-content: space-around;
            margin-left: 15%;
            margin-right: 15%;
            font-size: 1.5rem;
            
            .idea{
                //border: 2px solid white;
                padding: 5px;
                border-radius: 30%;
                background: rgb(25, 47, 172);
            }
            .duas-opc{
                //border: 2px solid white;
                padding: 5px;
                border-radius: 30%;
                background: rgb(25, 47, 172);
            }
            .ajuda{
                //border: 2px solid white;
                padding: 5px;
                border-radius: 30%;
                background: rgb(25, 47, 172);
            }
            .troca{
                //border: 2px solid white;
                padding: 5px;
                border-radius: 30%;
                background: rgb(25, 47, 172);
            }
        }
        .pontuacao{
            display: flex;
            flex-flow: row wrap;
            font-size: 1.5rem;
            justify-content: center;
            margin-top: 20px;
            .ponto{
                margin-left: 10px;
            }
        }
    }
}